header {
    background: linear-gradient(to right, #007bff, #00c6ff);
    padding: 60px 0;
}

h1, h2 {
    font-weight: bold;
}

header img {
    border: 4px solid white;
    width: 150px;
}
.card{
    text-align: center;
}
